<html>
  <head></head>
  <body>
  	</p>
    <% if valid %>
      <p>
      <table>
        <% i = size - 1 %>
        <tr>
          <% while i >= 0 %>
            <th><%= i %></th>
            <% i -= 1 %>
          <% end %>
          <th>AND</th>
          <th>OR</th>
          <th>XOR</th>
        </tr>
        <% table.each do |row| %>
          <tr>
            <% row.each do |value| %>
              <td> <%= value %> <% end %> </td>
          </tr>
        <% end %>
       </table>
       <% valid = false %>
       <a href="/"> New Table </a>
      </p>
    <% elsif error %>
      <b><h1>ERROR</h1></b>
      <b><h3>Invalid Parameters</h3></b>
      <pre>
      <%= error_msg %>
      </pre>
      <a href="/"> Back to Main </a>
    <% else %>
      <form>
        <br>Truth Symbol:
        <input type="text" name = 'truth_s'><br>
        <br>False Symbol:
        <input type="text" name = 'false_s'></br>
        <br>Size 2^x:
        <input type="text" name = 'size'></br>
        <br><input type = "submit" value = "Show Truth Table"></br>
      </form>
      <a href="/">Reload Page</a>
    <% end %> 
    <p>
  </body>
</html>